# Dependencies
/node_modules

# Local Environment Variables
# Exclude all .env files and only include .env.example if you have one.
.env*.local

# Production build
/.next/
/out/

# Other
.DS_Store
*.pem

# IDEs
.vscode/
.idea/